body {
background-color: white;
}
.flex-container{
    border: 1px solid black;
    background: white;
    padding: 20px;
    display: flex;
    position: absolute;
    z-index: 2;
   /* flex-flow: row;
   width: 80%;
   
   */
   justify-content: space-around;
   flex-wrap: wrap;
    
    margin: 0 auto;
}
.flex-item{
    width: 350px;
    height: 500px;
   /* margin: 10px;
    background-size: cover;
    background-position: center;*/
}
.flex-item img{
    width:250px;
    height: 400px;
}

/* .flex-banner {
/* 
        background: url('https://i.imgur.com/J9aNcE6.jpg') top left/cover no-repeat; */
        /* height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
} */
 

.contenedor {
    position: static; 
    width: 100%;
    height: 100px;
    z-index: 1;
}
  
  .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    /* background-color: #FF0000; */
  }
  
  .logo img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
  }
  .logoGhibli{
    width: 30px;
  }