body {
background-color: white;
}
.flex-container{
    border: 1px solid black;
    background: white;
    padding: 20px;
    display: flex;
   /* flex-flow: row;
   width: 80%;
   
   */
   justify-content: space-between;
   flex-wrap: wrap;
    
    margin: 0 auto;
}
.flex-item{
    width: 350px;
    height: 500px;
   /* margin: 10px;
    background-size: cover;
    background-position: center;*/
}
.flex-item img{
    width:250px;
    height: 400px;
}

.flex-banner {

        background: url('https://i.imgur.com/J9aNcE6.jpg') top left/cover no-repeat;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

}